<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage - Sokohub</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <h1>Welcome To Sokohub Web Application!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum perspiciatis eveniet eos ab error repellendus amet a blanditiis excepturi, ea quia vero accusantium sint sapiente cupiditate! Aliquam, repellendus odio!
    Perferendis sit ratione dolores voluptas laudantium officia reprehenderit? Blanditiis fuga delectus neque facere voluptates veniam amet exercitationem facilis labore sed! Quo, impedit error! Quasi aliquam id, nostrum earum odio vel.
    Velit explicabo assumenda earum sunt a, totam itaque, repudiandae consequatur neque repellat eum. Excepturi nesciunt dolorem deserunt. Explicabo deleniti distinctio voluptatum consequatur dicta officia omnis maiores dolores, est molestiae mollitia.</p>

    <img src="{% static 'images/sneaker1.png' %}" alt="">
    <img src="{% static 'images/sneaker3.png' %}" alt=""><br>
    <button>Shop Now</button>
</body>
</html>